.deal{
  background-color: rgb(115, 115, 243);
  text-align: center;
  font-size: 25px;
  color: white;
  padding: 10px;
}
.deals{
  border-width: 5px;
  border-style: solid;
  border-color: rgb(115, 115, 243);
}
.deals img{
  height: 385px;
  width: 385px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.testi{
  color: dodgerblue;
  background-color: aliceblue;
  text-align: center;
  font-size: 20px;
  font-family: cursive;
}
.custes{
  color: gray;
  font-size: 20px;
  text-align: center;
  font-family: cursive;
}
.txxt1{
  color: black;
  font-size: 25px;
  position: absolute;
  left: 47%;
  bottom: -112%;
}
.txxt2{
  color: blue;
  font-size: 25px;
  position: absolute;
  left: 47%;
  bottom: -182%;
}
.txxt3{
  color: blue;
  font-size: 25px;
  position: absolute;
  left: 47%;
  bottom: -251%;
}
.txxxt1{
  color: black;
  font-size: 25px;
  position: absolute;
  left: 47%;
  top: 26%;
}
.txxxt2{
  color: blue;
  font-size: 25px;
  position: absolute;
  left: 47%;
  top: 87%;
}
.txxxt3{
  color: blue;
  font-size: 25px;
  position: absolute;
  left: 47%;
  top: 150%;
}
.txxxt4{
  color: blue;
  font-size: 25px;
  position: absolute;
  left: 47%;
  top: 214%;
}
.btn {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #3e8e41;
  color: white;
}
.btn a{
  text-decoration: none;
  color:black;
}
.btn a:hover{
  color: white;
}
.testi{
  color: white;
  background-color: rgb(115, 115, 243);
  text-align: center;
  font-size: 20px;
}
hr{
  color: red;
}
a{
  color: black;
}
a:hover{
  color: blue;
}
a:link{
  text-decoration: none;
}